/* extra small screen */
@media screen and (max-width: 767px) {
  .wrapper {
    grid-template-areas:
      "s s s s s s s s s s s s"
      "a a a a a a a a a a a a"
      "c c c c c c c c c c c c";
    text-align: center;
  }

  .get-the-app {
    align-items: center;
    margin: 2rem 0;
  }
}

/* large screen */
@media screen and (max-width: 1199px) {
  header {
    min-height: 100vh;
  }
}

/* extra large or above */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }

  /* header section */
  header {
    max-height: 800px;
  }
}

/* 
<i class="fa-regular fa-circle-question"></i>
<i class="fa-solid fa-user"></i>
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-google"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-github"></i>
 */
